<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .cab_pedido {
            font-family: "Arial Narrow";
            font-size: 14px;
            color: #FFFFFF;
            background-color: #006b54;
        }

        .cab_res {
            font-family: "Arial Narrow";
            font-size: 12px;
        }
    </style>
</head>
<body>
    <center>
        <img src="https://i.ibb.co/mbDLcCB/srengenharia.png" width="150" height="70" alt="Focco Mail" />
    </center>
    <center>
        <h1><font face="Arial Narrow" size="3" color="black"><strong>ITENS COMPRADOS COM EMBARQUE NÃO</strong></font></h1>
        <h1><font face="Arial Narrow" size="3" color="black"><strong> *** FoccoMail automático, caso ainda esteja editando os itens favor desconsiderar o dado. ***</strong></font></h1>
        <table border="1">
            <tr class="cab_pedido" ALIGN="CENTER">
                <td width="5%" valign="CENTER"><b>Cod. Item Pai</b></td>
                <td width="5%" valign="CENTER"><b>Seq. na Estrutura</b></td>
                <td width="5%" valign="CENTER"><b>Cod. Filho</b></td>
                <td width="30%" valign="CENTER"><b>Desc. Técnica</b></td>
                <td width="5%" valign="CENTER"><b>Valor do Campo Embarque</b></td>
                        {% for index, row in df.iterrows() %}
                        <tr class="cab_res" ALIGN="CENTER" style="font-size: 18px;">
                        <td>{{ row['Cod. Item Pai'] }}</td>
                        <td>{{ row['Seq. na Estrutura'] }}</td>
                        <td>{{ row['Cod. Filho'] }}</td>
                        <td>{{ row['Desc. Técnica'] }}</td>
                        <td>{{ row['Valor do Campo Embarque'] }}</td>
                    </tr>
            {% endfor %}
        </table>
    </center>
    <div>
        <h4>**Email com envio automático, favor não responder.</h4>
    </div>
</body>
</html>
